{% load static %}
<html lang="en">
<head>
    {% include "polls/layout/base_head.html" %}
    <title>
        {% block head_title %}
        {% endblock %}
    </title>
</head>
<body>
{% block body_nav %}
    {% include "polls/layout/body/nav.html" %}
{% endblock %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1>
                {% block heading %}
                {% endblock %}
            </h1>
            <!--<p>-->
                <!--jujujujujujuju-->
            <!--</p>-->
            <!--<p>-->
                <!--<a class="btn btn-primary btn-lg" href="#" role="button">-->
                    <!--Learn more »-->
                <!--</a>-->
            <!--</p>-->
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>

        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--<h2>-->
                    <!--1111-->
                <!--</h2>-->
                <!--<p>-->
                    <!--11111111111-->
                <!--</p>-->
                <!--<p>-->
                    <!--<a class="btn btn-secondary" href="#" role="button">-->
                        <!--View details »-->
                    <!--</a>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<h2>-->
                    <!--2222-->
                <!--</h2>-->
                <!--<p>-->
                    <!--222222222222-->
                <!--</p>-->
                <!--<p>-->
                    <!--<a class="btn btn-secondary" href="#" role="button">-->
                        <!--View details »-->
                    <!--</a>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<h2>-->
                    <!--3333-->
                <!--</h2>-->
                <!--<p>-->
                    <!--33333333333-->
                <!--</p>-->
                <!--<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
            <!--</div>-->
        <!--</div>-->

        <hr>
    </div>
</main>
{% block body_footer %}
    {% include "polls/layout/body/footer.html" %}
{% endblock %}
{% block body_footer_scripts %}
    {% include "polls/layout/body/footer_scripts.html" %}
{% endblock %}

</body>
</html>